// ESTILOS INTERNA LOGIN

.section_login{
    width: 100%;
    padding: 48px 0;
    background: url(../images/diseno/bg_test_1.png) no-repeat left bottom, url(../images/diseno/bg_test_2.png) no-repeat bottom right;
    background-color: #E5E5E5;
    background-blend-mode: multiply;
    margin-top: -44px;
    padding: 40px 0 100px;

    h2{
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 30px;
        color: #000;
    }
}
.cont_gen_login{
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #FFF;
    padding: 80px 30px;
    box-sizing: border-box;

    .form_login{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            font-size: 20px;
            font-weight: 600;
            color: #54C2B9;
            text-transform: uppercase;
        }
        .txt_form_login{
            margin:20px auto;
            max-width: 400px;
        }
        .cont_inputs{
            width: 100%;
            max-width: 300px;
            margin: auto;
        }
        .link_btn{
            margin-bottom: 20px;
            width: max-content;
            margin: 0 auto 20px;

            &:hover{
                text-decoration: underline;
                color: #6850FF;
            }
        }
        .btn.btn_form{
            width: max-content;
            margin: auto;
        }
    }
}
.input_field{
    width: 100%;
    border: 1px solid #7CEFE6;
    margin-bottom: 20px;
    border-radius: 3px;
    position: relative;

    input{
        height: 35px;
    }
    label{
        position: absolute;
        top: 7px;
        font-size: 14px;
        color: #7e7e7e;
        left: 10px;
        background: transparent;
        padding: 0 4px;
        box-sizing: border-box;
        cursor: text;
    }

    &:focus-within{
        input + label{         
                font-size: 12px;
                top: -11px;
                background: #FFF;
                color: #54C2B9;
        }
    }

    &:not(:focus-within) input:not(:placeholder-shown) + label{
        font-size: 12px;
        top: -11px;
        background: #FFF;
        color: #54C2B9;
    }

}


// ESTILOS INTERNA MI PERFIL

.cont_notas_recomendadas{
    .colum_list_cursos{
        width: 100%;

        .cont_paginas_list_cursos{
            .itm_curso{
                width: 23%;
            }
        }
    }
}